In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys

In [4]:
os.chdir('../')

In [13]:
clientes = pd.read_csv("../datos/clientes.csv")

# Caracteristicas de los datos

- desc_ciiu_division tiene 81 categorias diferentes
- Asumo que desc_ciuu_grupo es una desagregacion de desc_ciiu_division esta tiene 156 categorias distintas
- En desc_ciiuu_clase hay 244 clases diferentes

- Hay un total de es 1507 empresas diferentes

In [14]:
clientes.shape

(1507, 6)

In [15]:
clientes.columns

Index(['nit', 'nombre', 'desc_ciiu_division', 'desc_ciuu_grupo',
       'desc_ciiuu_clase', 'subsec'],
      dtype='object')

In [16]:
ciiu = clientes.groupby('desc_ciiu_division').count()['nit'].reset_index()
ciiu.sort_values('nit', ascending = False)

                                   desc_ciiu_division  nit
33  COMERCIO AL POR MAYOR Y EN COMISION O POR CONT...  163
37                          CONSTRUCCION DE EDIFICIOS  111
24  ACTIVIDADES DE SERVICIOS FINANCIEROS, EXCEPTO ...  107
45              ELABORACION DE PRODUCTOS ALIMENTICIOS   79
34  COMERCIO AL POR MENOR (INCLUSO EL COMERCIO AL ...   76
..                                                ...  ...
7    ACTIVIDADES DE ASISTENCIA SOCIAL SIN ALOJAMIENTO    1
77  TRANSFORMACION DE LA MADERA Y FABRICACION DE P...    1
78                                TRANSPORTE ACUATICO    1
49               EXTRACCION DE OTRAS MINAS Y CANTERAS    1
5             ACTIVIDADES DE ALQUILER Y ARRENDAMIENTO    1

[81 rows x 2 columns]

# Noticias

In [18]:
noticias = pd.read_csv("../datos/clientes_noticias.csv")
noticias['Portal_noticia'] = noticias['news_url_absolute'].apply(lambda x: x.split('/')[2])
noticias['categoria_noticia'] = noticias['news_url_absolute'].apply(lambda x: x.split('/')[3])

In [19]:
portales = noticias.groupby('Portal_noticia').count()['nit'].reset_index()
portales['participacion'] = round(portales['nit']/portales['nit'].sum()*100,2)
portales.sort_values('nit', ascending = False, inplace = True)
portales['por_acumulado'] = portales['participacion'].cumsum()
portales.head(30)

                 Portal_noticia   nit  participacion  por_acumulado
1789             www.semana.com  5009           6.70           6.70
1393            www.infobae.com  4295           5.75          12.45
925          www.bnamericas.com  3422           4.58          17.03
1150       www.elcolombiano.com  3064           4.10          21.13
1254           www.eltiempo.com  2902           3.88          25.01
1485         www.larepublica.co  2818           3.77          28.78
1680          www.portafolio.co  1846           2.47          31.25
1937     www.valoraanalitik.com  1695           2.27          33.52
1176       www.elespectador.com  1620           2.17          35.69
98           cambiocolombia.com  1236           1.65          37.34
1471       www.laopinion.com.co  1164           1.56          38.90
718         semanaeconomica.com   787           1.05          39.95
1828           www.swissinfo.ch   746           1.00          40.95
922      www.bloomberglinea.com   746           1.00          41.95
1327    www.forbesargentina.com   741           0.99          42.94
1181           www.elheraldo.co   681           0.91          43.85
1738           www.rcnradio.com   601           0.80          44.65
507            m.vanguardia.com   571           0.76          45.41
1726       www.radionacional.co   546           0.73          46.14
287                  elpais.com   540           0.72          46.86
12                acento.com.do   526           0.70          47.56
1363           www.heconomia.es   526           0.70          48.26
1257     www.eluniversal.com.co   504           0.67          48.93
689               redmas.com.co   492           0.66          49.59
182                   dfsud.com   475           0.64          50.23
941             www.cali.gov.co   470           0.63          50.86
1710              www.pulzo.com   462           0.62          51.48
1144  www.elcarrocolombiano.com   411           0.55          52.03
1175          www.elespanol.com   399           0.53          52.56
923            www.bluradio.com   396           0.53          53.09

In [78]:
portales = noticias.groupby('categoria_noticia').count()['nit'].reset_index()
portales['participacion'] = round(portales['nit']/portales['nit'].sum()*100,2)
portales.sort_values('nit', ascending = False, inplace = True)
portales['por_acumulado'] = portales['participacion'].cumsum()
portales.head(30)

     categoria_noticia   nit  participacion  por_acumulado
1382          economia  7650          10.24          10.24
51                2022  5494           7.35          17.59
1640                es  4968           6.65          24.24
506            america  3784           5.06          29.30
2915          noticias  3229           4.32          33.62
970           colombia  2195           2.94          36.56
3160          politica  2058           2.75          39.31
2796          negocios  1471           1.97          41.28
1558          empresas  1433           1.92          43.20
2995           opinion  1399           1.87          45.07
2775            nacion  1390           1.86          46.93
404         actualidad  1291           1.73          48.66
1263          deportes  1272           1.70          50.36
589           articulo  1142           1.53          51.89
2753             mundo   937           1.25          53.14
2873           noticia   852           1.14          54.28
3592               spa   746           1.00          55.28
1832          finanzas   741           0.99          56.27
3981                 w   492           0.66          56.93
3277     publicaciones   488           0.65          57.58
536          antioquia   485           0.65          58.23
727             bogota   394           0.53          58.76
1675        especiales   385           0.52          59.28
2125         index.php   367           0.49          59.77
1209           cultura   345           0.46          60.23
2810          newsroom   344           0.46          60.69
3447             salud   343           0.46          61.15
2581        management   340           0.46          61.61
956                 co   339           0.45          62.06
2188     internacional   338           0.45          62.51

# Noticias detalle del texto

In [75]:
noticias_detalle = pd.read_csv("datos/noticias.csv")

In [80]:
noticias_detalle.head(3)

,news_id,news_url_absolute,news_init_date,news_final_date,news_title,news_text_content
0,news10006,https://www.bluradio.com/economia/precio-dolar...,2022-07-30,2022-08-14,Precio dolar hoy: la cotizacion de la divisa a...,"Este martes, 2 de agosto, el dolar alcanzo un ..."
1,news10011,https://www.semana.com/economia/macroeconomia/...,2022-07-30,2022-08-14,Es cierto: El presidente Gustavo Petro quiere ...,No hay nada mas permanente que lo temporal y a...
2,news10015,https://elcomercio.pe/respuestas/que/gustavo-p...,2022-07-30,2022-08-14,Gustavo Petro: ?Que dice el informe final de s...,El equipo de empalme del gobierno del presiden...

In [85]:
noticias_detalle.iloc[0,5]

'Este martes, 2 de agosto, el dolar alcanzo un precio maximo de $4.328 y un minimo de $4.245. Ademas, se negociaron US$889,35 millones en 1.650 transacciones. Un cambio en la divisa que representa una subia de $68,55 frente a la Tasa Representativa del Mercado (TRM hoy), que es de $4.314,54. TRM hoy: siga la cotizacion del dolar, en vivo, hoy viernes 22 de julio Le puede interesar: Cinco recomendaciones para hacerle el quite al precio del dolar y a la inflacion Escuche el podcast El Mundo Hoy '

In [81]:
noticias[noticias['news_id']=='news10006']

,nit,news_id,news_url_absolute,news_init_date,news_final_date,Portal_noticia,categoria_noticia
0,900378212,news10006,https://www.bluradio.com/economia/precio-dolar...,2022-07-30,2022-08-14,www.bluradio.com,economia

In [83]:
noticias.iloc[0,2]

'https://www.bluradio.com/economia/precio-dolar-hoy-trm-hoy-colombia-cotizacion-de-la-divisa-este-2-de-agosto-so35'

In [82]:
clientes[clientes['nit']==900378212]

,nit,nombre,desc_ciiu_division,desc_ciuu_grupo,desc_ciiuu_clase,subsec
944,900378212,BANCO W SA,"ACTIVIDADES DE SERVICIOS FINANCIEROS, EXCEPTO ...",INTERMEDIACION MONETARIA,BANCOS COMERCIALES,BANCOS